<div class="content">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Brand Id</th>
          <th>Brand Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td>{{ brand.brandId }}</td>
          <td>{{ brand.brandName }}</td>
          <td><button routerLink="update/{{brand.brandId}}" type="button" class="btn btn-warning">Update</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  